<ul>
<% @tasks.each do |task| %>
<li><strong><%= task.details %></strong></li>
<li class="links"><%= link_to "view details", task_path(task.id) %> | <%= link_to "edit", edit_task_path(task.id) %> | <%= link_to "delete", task_path(task.id), method: :delete %></li>
<% end %>
<%= link_to "add a task", new_task_path, class: "back" %>
</ul>
